{% extends "Home.html" %}

{% block title %}
    
{% endblock title %}

{% block body %}
    <div class="container my-4">
        <div class="text-center">
            <p class="phone-number">Phone Number: <strong>9067XXXXXX</strong></p>
            <p class="email">Email: <strong>XYZ@iiti.ac.in</strong></p>
        </div>

        <div class="container-fluid my-4 d-flex justify-content-center align-items-center">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="static/1.jfif.JPEG" class="d-block w-100" height="400">
                    </div>
                    <div class="carousel-item">
                        <img src="static/1.jfif.JPEG" class="d-block w-100" height="400">
                    </div>
                    <div class="carousel-item">
                        <img src="static/1.jfif.JPEG" class="d-block w-100" height="400">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>

    <style>
        .phone-number, .email {
            font-size: 18px;
            margin-bottom: 10px;
        }

        strong {
            color: #007bff; /* Change the color to your preference */
        }
    </style>
{% endblock body %}
