{% extends "Home.html" %}

{% block title %}
    Home
{% endblock title %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Welcome to Our Attendance System</div>
                <div class="card-body">
                    <p class="card-text">This website has been created to take students' attendance.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Important Notice</div>
                <div class="card-body">
                    <p class="card-text">This system also features proxy detection, so please be cautious!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">THIS WEBISTE IS DESIGNED BY HARSHVARDHAN CHOUDHARY</div>
                <div class="card-body">
                    <p class="card-text">This opportunity was provided to me by PCLub IIT Indore</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-white bg-info mb-3">
                <div class="card-header">Important Notice</div>
                <div class="card-body">
                    <p class="card-text">This system also features proxy detection, so please be cautious!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid my-4 d-flex justify-content-center align-items-center">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="static/download.jpeg" class="d-block w-200 " height="200">
            </div>
            <div class="carousel-item">
                <img src="static/download.jpeg" class="d-block w-200 " height="200">
            </div>
            <div class="carousel-item">
                <img src="static/download.jpeg" class="d-block w-200 " height="200">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock body %}
